body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
}

.signin {
  display: none;
}
.signin-git{

  margin: 20px;
}

.g_id_signin {
  margin-top: 20px;
}